@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  background: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  color: #f2f2f1;
}

ol,
ul,
li {
  list-style: none;
}

body {
  background-color: #4369b2;
}
